name: gi_weekly_material_tracker
description: Genshin Impact Weekly Weekly Tracker App

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

# RELEASE USE ONLY. LEAVE COMMENTED OTHERWISE
# flutter build apk --target-platform android-arm64 --split-per-abi
#version: 1.0.0+141

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  about: ^2.1.0
  app_installer: ^1.1.0
  cached_network_image: ^3.2.0
  cloud_firestore: ^3.1.5
  cupertino_icons: ^1.0.4 # To prevent build errors
  date_time_picker: ^2.1.0
  device_apps: ^2.1.1
  filesize: ^2.0.1
  firebase_analytics: ^9.0.4
  firebase_auth: ^3.3.4
  firebase_core: ^1.10.6
  firebase_crashlytics: ^2.4.4
  firebase_database: ^9.0.4
  # TODO: Replace with official when it updates above 1.0.1
  firebase_image:
    git:
      url: git://github.com/itachi1706/firebase_image.git
      ref: my-master
  firebase_performance: ^0.8.0+3
  firebase_storage: ^10.2.4
  flutter_countdown_timer: ^4.1.0
  flutter_inappwebview: ^5.3.2
  flutter_local_notifications: ^9.1.5
  flutter_rating_bar: ^4.0.0
  flutter_settings_ui: ^2.0.1
  flutter_signin_button: ^2.0.0
  flutterfire_ui: ^0.3.0
  get: ^4.6.1
  google_sign_in: ^5.2.1
  intl: ^0.17.0
  material_design_icons_flutter: ^5.0.6595
  octo_image: ^1.0.1
  package_info_plus: ^1.3.0
  path_provider: ^2.0.8
  shared_preferences: ^2.0.11
  timezone: ^0.8.0
  transparent_image: ^2.0.0
  url_launcher: ^6.0.17

dev_dependencies:
  flutter_test:
    sdk: flutter
  # We disable integration test as we are not running any currently
  #integration_test:
  #  sdk: flutter
  dependency_validator: ^3.1.2
  flutter_launcher_icons: ^0.9.2
  flutter_lints: ^1.0.4
  flutter_native_splash: ^1.3.2
  dart_code_metrics: ^4.8.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# Update with flutter pub run flutter_native_splash:create
flutter_native_splash:
  image: assets/icons/splash/splash.png
  color: "#FFFFFF"
  image_dark: assets/icons/splash/splash_dark.png
  color_dark: "#000000"

# Update with flutter pub run flutter_launcher_icons:main
flutter_icons:
  android: "ic_launcher_custom"
  ios: true
  remove_alpha_ios: true
  adaptive_icon_foreground: assets/icons/appicon/android_foreground.png
  adaptive_icon_background: "#FF5722"
  image_path_android: assets/icons/appicon/launcher_icon.png
  image_path_ios: assets/icons/appicon/launcher_ios.png

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/elements/
    - assets/images/items/
    - assets/images/icons/
    - assets/icons/splash/splash.png
    - assets/icons/splash/splash_dark.png
    - CHANGELOG.md

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
  fonts:
    - family: Product-Sans
      fonts:
        - asset: fonts/Product-Sans.ttf
        - asset: fonts/Product-Sans-Italic.ttf
          style: italic
    - family: Product-Sans-Bold
      fonts:
        - asset: fonts/Product-Sans-Bold.ttf
        - asset: fonts/Product-Sans-Bold-Italic.ttf
          style: italic
