name: Deploy and Release Flutter Application

on:
  push:
    tags:
      - '*'

env:
  GIT_RUN_NUMBER: ${{ github.run_number }}
  CI_COMMIT_REF_NAME: ${{ github.ref_name }}

jobs:
  releaseapk:
    runs-on: ubuntu-latest
    name: Generate Release Flutter App # From "Generate Release Flutter App" in GitLab CI
    env:
      APP_BUILD_VER: beta
      APP_TYPE: Android
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install Flutter Stable (${{vars.FLUTTER_COMPILE_VERSION}})
        uses: subosito/flutter-action@v2.21.0
        with:
          flutter-version: ${{ vars.FLUTTER_COMPILE_VERSION }}
          channel: 'stable'
          cache: true
      - name: Cache pubspec dependencies
        uses: actions/cache@v5
        with:
          path: |
            ${{ env.FLUTTER_HOME }}/.pub-cache
            ${{ env.PUB_CACHE }}
            **/.packages
            **/.flutter-plugins
            **/.flutter-plugin-dependencies
            **/.dart_tool/package_config.json
          key: build-pubspec-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: build-pubspec-
      - name: Install JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
      - name: Trust GitHub Workspace
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Test Flutter Doctor
        run: flutter doctor -v  
      - name: Retrieve Firebase Options Dart files and decode to file
        env:
          GOOGLE_SVC_ANDROID: ${{ secrets.GOOGLE_SVC_ANDROID }}
          GOOGLE_SVC_DART: ${{ secrets.GOOGLE_SVC_DART }}
          PUB_SEC_DART: ${{ secrets.PUB_SEC_DART }}
        run: |
          echo $GOOGLE_SVC_ANDROID | base64 -d > android/app/google-services.json
          echo $GOOGLE_SVC_DART | base64 -d > lib/firebase_options.dart
          echo $PUB_SEC_DART | base64 -d > lib/app_secrets.dart
      - name: Obtain Debug Keystore from Secrets
        env:
          FLUTTER_KEYSTORE: ${{ secrets.FLUTTER_RELEASE_KEYSTORE }}
          KEY_PROPERTIES: ${{ secrets.RELEASE_KEY_PROPERTIES }}
        run: |
          echo $FLUTTER_KEYSTORE | base64 -d > android/app/flutter.jks
          echo $KEY_PROPERTIES | base64 -d > android/key.properties
      - uses: benjlevesque/short-sha@v3.0
        id: short-sha
        with:
          length: 8
      - name: Pre-Setup and obtain version information
        run: |
          mkdir release
          export GIT_COMMIT_COUNT="$(git rev-list --count HEAD)"
          echo $GIT_COMMIT_COUNT
          echo $GIT_COMMIT_SHORT_SHA
          echo $GIT_RUN_NUMBER
          chmod +x ./ciscripts/get_version.sh
          ./ciscripts/get_version.sh
        env:
          CI_COMMIT_SHORT_SHA: ${{ steps.short-sha.outputs.sha }}
      - name: Build Android Split APK
        run: |
          flutter build apk --target-platform android-arm,android-arm64,android-x64 --split-per-abi
      - name: Move Split APKs to Release folder
        run: mv ./build/app/outputs/apk/release/*.apk ./release
      - name: Build Android Multi-Arch Fat APK
        run: flutter build apk
      - name: Move Fat APK to Release Folder
        run: |
          cp build/app/outputs/apk/release/app-release.apk ./release
          cp build/app/outputs/apk/release/app-release.apk ./app-fatapk.apk
      - uses: actions/upload-artifact@v5
        with:
          name: flutter-android-artifact-rel
          path: |
            release/
            app-fatapk.apk
            LATEST
            VERSION
  releaseaab:
    runs-on: ubuntu-latest
    name: Generate Release Flutter AppBundle Android # From "Generate Release Flutter AppBundle Android" in GitLab CI
    env:
      APP_BUILD_VER: beta
      APP_TYPE: Android
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install Flutter Stable (${{vars.FLUTTER_COMPILE_VERSION}})
        uses: subosito/flutter-action@v2.21.0
        with:
          flutter-version: ${{ vars.FLUTTER_COMPILE_VERSION }}
          channel: 'stable'
          cache: true
      - name: Cache pubspec dependencies
        uses: actions/cache@v5
        with:
          path: |
            ${{ env.FLUTTER_HOME }}/.pub-cache
            ${{ env.PUB_CACHE }}
            **/.packages
            **/.flutter-plugins
            **/.flutter-plugin-dependencies
            **/.dart_tool/package_config.json
          key: build-pubspec-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: build-pubspec-
      - name: Install JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
      - name: Trust GitHub Workspace
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Test Flutter Doctor
        run: flutter doctor -v  
      - name: Retrieve Firebase Options Dart files and decode to file
        env:
          GOOGLE_SVC_ANDROID: ${{ secrets.GOOGLE_SVC_ANDROID }}
          GOOGLE_SVC_DART: ${{ secrets.GOOGLE_SVC_DART }}
          PUB_SEC_DART: ${{ secrets.PUB_SEC_DART }}
        run: |
          echo $GOOGLE_SVC_ANDROID | base64 -d > android/app/google-services.json
          echo $GOOGLE_SVC_DART | base64 -d > lib/firebase_options.dart
          echo $PUB_SEC_DART | base64 -d > lib/app_secrets.dart
      - name: Obtain Debug Keystore from Secrets
        env:
          FLUTTER_KEYSTORE: ${{ secrets.FLUTTER_RELEASE_KEYSTORE }}
          KEY_PROPERTIES: ${{ secrets.UPLOAD_KEY_PROPERTIES }}
        run: |
          echo $FLUTTER_KEYSTORE | base64 -d > android/app/flutter.jks
          echo $KEY_PROPERTIES | base64 -d > android/key.properties
      - uses: benjlevesque/short-sha@v3.0
        id: short-sha
        with:
          length: 8
      - name: Pre-Setup and obtain version information
        id: versioninfo
        run: |
          export GIT_COMMIT_COUNT="$(git rev-list --count HEAD)"
          echo $GIT_COMMIT_COUNT
          echo $GIT_COMMIT_SHORT_SHA
          echo $GIT_RUN_NUMBER
          chmod +x ./ciscripts/get_version.sh
          ./ciscripts/get_version.sh
          echo "pipeline_id=$GIT_COMMIT_COUNT" >> $GITHUB_OUTPUT
        env:
          CI_COMMIT_SHORT_SHA: ${{ steps.short-sha.outputs.sha }}
      - name: Build Android AppBundle
        run: flutter build appbundle
      - name: Move App Bundle to location
        run: cp build/app/outputs/bundle/release/app-release.aab ./appbundle-signed.aab
      - uses: actions/upload-artifact@v5
        with:
          name: flutter-android-aab-artifact-rel
          path: |
            release/
            android/
            appbundle-signed.aab
            LATEST
            VERSION
    outputs:
      relid: ${{ steps.versioninfo.outputs.pipeline_id }}
  releaseweb:
    runs-on: ubuntu-latest
    name: Generate Release Flutter Web App
    env:
      APP_BUILD_VER: web
      APP_TYPE: Web
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install Flutter Stable (${{vars.FLUTTER_COMPILE_VERSION}})
        uses: subosito/flutter-action@v2.21.0
        with:
          flutter-version: ${{ vars.FLUTTER_COMPILE_VERSION }}
          channel: 'stable'
          cache: true
      - name: Cache pubspec dependencies
        uses: actions/cache@v5
        with:
          path: |
            ${{ env.FLUTTER_HOME }}/.pub-cache
            ${{ env.PUB_CACHE }}
            **/.packages
            **/.flutter-plugins
            **/.flutter-plugin-dependencies
            **/.dart_tool/package_config.json
          key: build-pubspec-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: build-pubspec-
      - name: Trust GitHub Workspace
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Test Flutter Doctor
        run: flutter doctor -v
      - name: Retrieve Firebase Options Web Dart File and decode it to a file
        env:
          GOOGLE_SVC_DART: ${{ secrets.GOOGLE_SVC_DART }}
          PUB_SEC_DART: ${{ secrets.PUB_SEC_DART }}
        run: |
          echo $GOOGLE_SVC_DART | base64 -d > lib/firebase_options.dart
          echo $PUB_SEC_DART | base64 -d > lib/app_secrets.dart
      - uses: benjlevesque/short-sha@v3.0
        id: short-sha
        with:
          length: 8
      - name: Pre-Setup and obtain version information
        run: |
          export GIT_COMMIT_COUNT="$(git rev-list --count HEAD)"
          echo $GIT_COMMIT_COUNT
          echo $GIT_COMMIT_SHORT_SHA
          chmod +x ./ciscripts/get_version.sh
          ./ciscripts/get_version.sh
        env:
          CI_COMMIT_SHORT_SHA: ${{ steps.short-sha.outputs.sha }}
      - name: Build Flutter App
        run: flutter build web
      - name: Package Artifact
        run: |
          mkdir -p firebase/public
          mv build/web/* ./firebase/public
          zip -r webapp.zip ./firebase/public
      - uses: actions/upload-artifact@v5
        with:
          name: flutter-web-artifact-rel
          path: |
            firebase/
            webapp.zip
  gplayreleasenotes:
    runs-on: ubuntu-latest
    name: Check Google Play Release Notes # From "Check Google Play Release Notes" in GitLab CI
    steps:
      - uses: actions/checkout@v6
      - name: Set Script Executable
        run: chmod +x ./ciscripts/check_length.sh
      - name: Run Script
        run: ./ciscripts/check_length.sh
  hostingprod:
    runs-on: ubuntu-latest
    needs: releaseweb
    name: Deploy to Firebase Hosting Prod # From "Deploy to Firebase Hosting Prod" in GitLab CI
    environment:
      name: Production-Web
      # url: ${{ steps.prod-deploy.outputs.details_url }} # See: https://github.com/FirebaseExtended/action-hosting-deploy/issues/213
      url: https://gi-weekly-material-tracker.web.app/
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: flutter-web-artifact-rel
      - uses: FirebaseExtended/action-hosting-deploy@v0
        id: prod-deploy
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_GI_WEEKLY_MATERIAL_TRACKER }}'
          projectId: gi-weekly-material-tracker
          channelId: live
          entrypoint: firebase
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
  gplayalpha:
    runs-on: ubuntu-latest
    container: itachi1706/flutter-alpine-android:fastlane-cli
    needs:
      - releaseaab
      - gplayreleasenotes
    environment: GPlay-Alpha-Android
    name: Deploy to Google Play Alpha # From "Deploy to Google Play Alpha" in GitLab CI
    env:
      GIT_COMMIT_COUNT: ${{ needs.releaseaab.outputs.relid }}
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: flutter-android-aab-artifact-rel
      - name: Get Google Play Service Account Data
        env:
          GPLAY_SVC_ACCT: ${{ secrets.GPLAY_SVC_ACCT }}
        run: echo $GPLAY_SVC_ACCT | base64 -d > android/gplayserviceaccount.json
      - name: Download existing data from Play Store
        working-directory: android
        run: |
          fastlane run download_from_play_store track:"alpha"
          cp ../LATEST fastlane/metadata/android/en-US/changelogs/$GIT_COMMIT_COUNT.txt
          cp ../appbundle-signed.aab .
          cp ../VERSION .
      - name: Deploying to Alpha Track on Google Play
        working-directory: android
        run: |
          APP_VERSION=$(cat ./VERSION)
          fastlane supply --aab appbundle-signed.aab --track alpha --skip_upload_images true --skip_upload_screenshots true --version_name "$GIT_COMMIT_COUNT ($APP_VERSION)"
  generaterelease:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: 
      - releaseapk
      - releaseipa
    name: Upload Artifact + Deploy Artifact
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: flutter-android-artifact-rel
      - uses: actions/download-artifact@v6
        with:
          name: flutter-unsigned-ipa-artifact-rel
      - name: Git Commit Data
        uses: rlespinasse/git-commit-data-action@v1.5.0
      - uses: benjlevesque/short-sha@v3.0
        id: short-sha
        with:
          length: 8
      - name: Prep Release Notes
        env:
          CI_COMMIT_MESSAGE: ${{ env.GIT_COMMIT_MESSAGE_SUBJECT }}
          CI_COMMIT_SHORT_SHA: ${{ steps.short-sha.outputs.sha }}
          APP_BUILD_VER: beta
        run: |
          echo $CI_COMMIT_MESSAGE > release-beta.txt
          builddate="$(date +"%A, %d %B %Y %T %Z")"
          printf "\nRelease Notes\n" >> release-beta.txt
          cat LATEST >> release-beta.txt
          printf "\n\nAPK Built on $builddate on branch $CI_COMMIT_REF_NAME ($CI_COMMIT_SHORT_SHA), type $APP_BUILD_VER" >> release-beta.txt
      - name: Prep Changelog
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}
          excludeTypes: docs,other,style
          writeToFile: false
          includeRefIssues: false
      - name: Secondary Release
        env:
          CC_OUT: ${{ steps.changelog.outputs.changes }}
        run: |
          printf "\n\n# Conventional Commits Changed\n---\n" >> release-beta.txt
          printf "$CC_OUT" >> release-beta.txt
      - name: Verify Release Notes
        run: cat release-beta.txt
      - name: Manage APK files
        run: |
          mkdir apks
          APP_VERSION=$(cat ./VERSION)
          mv ./release/app-arm64-v8a-release.apk apks/gi-material-tracker-arm64-$APP_VERSION.apk
          mv ./release/app-x86_64-release.apk apks/gi-material-tracker-x64-$APP_VERSION.apk
          mv ./release/app-armeabi-v7a-release.apk apks/gi-material-tracker-arm-$APP_VERSION.apk
          mv ./app-fatapk.apk apks/gi-material-tracker-multiarch-$APP_VERSION.apk
          mv ./app.ipa apks/gi-material-tracker-ios-$APP_VERSION.ipa
      - uses: olegtarasov/get-tag@v2.1
        id: tagName
      - name: Generating Releases to deploy tagged version of app
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          body_path: release-beta.txt
          name: Release ${{ steps.tagName.outputs.tag }}
          draft: false
          prerelease: false
          files: |
            apks/*.apk
            apks/*.ipa
  releaseipa:
    runs-on: macos-14 # For Apple Silicon
    name: Generate Release Flutter Unsigned IPA
    env:
      APP_BUILD_VER: beta
      APP_TYPE: iOS
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      # - uses: apple-actions/import-codesign-certs@v1
      #   name: Import Apple Certificate
      #   with: 
      #     p12-file-base64: ${{ secrets.APPLE_DEVCERT }}
      #     p12-password: ${{ secrets.APPLE_DEVCERT_PASSWORD }}
      - name: Install Flutter Stable (${{vars.FLUTTER_COMPILE_VERSION}})
        uses: subosito/flutter-action@v2.21.0
        with:
          flutter-version: ${{ vars.FLUTTER_COMPILE_VERSION }}
          channel: 'stable'
          cache: true
      - name: Use latest stable version of XCode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          # xcode-version: latest-stable
          xcode-version: '16.1.0' # https://github.com/actions/runner-images/issues/11335
      - name: Cache pubspec dependencies
        uses: actions/cache@v5
        with:
          path: |
            ${{ env.FLUTTER_HOME }}/.pub-cache
            ${{ env.PUB_CACHE }}
            **/.packages
            **/.flutter-plugins
            **/.flutter-plugin-dependencies
            **/.dart_tool/package_config.json
          key: build-pubspec-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: build-pubspec-
      - name: Cache Cocoapods
        uses: actions/cache@v5
        with:
          path: ios/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('ios/**/Podfile.lock') }}
          restore-keys: ${{ runner.os }}-pods-
      - name: Trust GitHub Workspace
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Test Flutter Doctor
        run: flutter doctor -v  
      - uses: benjlevesque/short-sha@v3.0
        id: short-sha
        with:
          length: 8
      - name: Pre-Setup and obtain version information
        run: |
          mkdir release
          export GIT_COMMIT_COUNT="$(git rev-list --count HEAD)"
          echo $GIT_COMMIT_COUNT
          echo $GIT_COMMIT_SHORT_SHA
          chmod +x ./ciscripts/get_version.sh
          ./ciscripts/get_version.sh
        env:
          CI_COMMIT_SHORT_SHA: ${{ steps.short-sha.outputs.sha }}
      - name: Install Flutter dependencies
        run: flutter pub get
      - name: Install CocoaPods Dependencies
        working-directory: ios
        run: |
          pod update
          pod install --repo-update
          pod repo update
      - name: Retrieve Firebase Options Dart files and decode to file
        env:
          GOOGLE_SVC_IOS: ${{ secrets.GOOGLE_SVC_IOS }}
          GOOGLE_SVC_DART: ${{ secrets.GOOGLE_SVC_DART }}
          PUB_SEC_DART: ${{ secrets.PUB_SEC_DART }}
        run: |
          echo $GOOGLE_SVC_IOS | base64 -d > ios/Runner/GoogleService-Info.plist
          echo $GOOGLE_SVC_DART | base64 -d > lib/firebase_options.dart
          echo $PUB_SEC_DART | base64 -d > lib/app_secrets.dart
      - name: Build iOS Package
        run: flutter build ios --release --no-codesign
      - name: Move Package to Release folder
        run: mv ./build/ios/iphoneos/Runner.app ./release
      - name: Generate IPA File
        run: |
          cd release
          mkdir Payload
          cp -r ./Runner.app Payload
          zip -r app.ipa Payload
          cd ..
      - name: Ensure IPA file generated properly
        run: |
          cd release
          ls -lh .
          cd ..
      - uses: actions/upload-artifact@v5
        with:
          name: flutter-unsigned-ipa-artifact-rel
          path: |
            release/app.ipa
